/template/models
/template/data
/Assignment1/data
/Assignment1/models

/Assignment2/data
/Assignment2/models
/template/__pycache__
/Assignment3/data
/Assignment3/wandb
/Assignment5/assignment_5_l copy.ipynb
/Assignment5_l_saved copy.ipynb
/Assignment5/experiments